.product-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 180px;
  height: 200px;
  object-fit: contain;
}

.product-card h2 {
  font-size: 17px;
  height: 45px;
  overflow: hidden;
  margin: 15px 0;
}

.product-card h3 {
  color: #4b0082;
  font-size: 22px;
}

.product-card p {
  color: #555;
  font-size: 14px;
  margin: 10px 0;
}

.product-card button {
  background: #4b0082;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.product-card button:hover {
  background: #8a2be2;
}